* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*removes margins from entire webpage*/
}

body {
    background-color: #d9dcd6;
    /*makes the background of the body of the webpage off-white*/
}

a {
    color: #ffffff;
    text-decoration: none;
    /*sets the color of the navbar and removes the underlines*/
}

p {
    font-size: 16px;
    /*sets the font size in the paragraphs to 16px*/
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    /*sets the font and colors of the header*/
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    /*makes the Horiseon logo 48px and inline*/
}

.header h1 .seo {
    color: #d9dcd6;
    /*makes the color of the SEO in Horiseon off-white*/
}

/*swapped div with nav to indicate navigation links*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /*moves the nav bar to the right, sets the margins around each item, sets font and size*/
}

/*swapped div with nav to indicate navigation links*/
.header nav ul {
    list-style-type: none;
    /*sets the type of bullets, in this case no bullets*/
}

/*swapped div with nav to indicate navigation links*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    
    /*sets the margins of the navbar, and makes the items inline*/
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    /*positions the image underneath the header*/
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    /*makes the main block of the body 75% of the width of the page, preps the float commands*/
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    /*sets the margins, font, and colors of the search engine optimization section*/
}

.search-engine-optimization img {
    max-height: 200px;
    /*sets the height of the search engine optimization image*/
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
    /*sets the font size and margins of the header in the search engine optimization section*/
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    /*sets the margins, font, and colors of the online reputation management section*/
}

.online-reputation-management img {
    max-height: 200px;
    /*sets the height of the online reputation management image*/
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
    /*sets the font size and margins of the header in the online reputation management section*/
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    /*sets the margins, font, and colors of the social media marketing section*/
}

.social-media-marketing img {
    max-height: 200px;
    /*sets the height of the social media marketing image*/
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
    /*sets the font size and margins of the header in the social media marketing section*/
}

.float-left {
    float: left;
    margin-right: 25px;
    /*makes two of the pictures in the main section of the body float on the left side, sets margins*/
}

.float-right {
    float: right;
    margin-left: 25px;
    /*makes the middle picture in the main section of the body float on the right side, sets margins*/
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    /*sets the width of a box on the right side of the page to 20% of the page.  Set's margins, sets height to 100% of the main section of the body. Sets font and background color*/
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
    /*sets the color of the text in the lead generation section.  Sets the margin on the bottom to 32px*/
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
    /*sets the margin underneath the header of the lead generation section, aligns text in the center*/
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    /*sets the width and position of the lead generation image*/
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
    /*sets the color of the text in the brand awareness section.  Sets the margin on the bottom to 32px*/
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
    /*sets the margin underneath the header of the brand awarenetss section, aligns text in the center*/
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    /*sets the width and position of the brand awareness image*/
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
    /*sets the color of the text in the cost management section.  Sets the margin on the bottom to 32px*/

}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
    /*sets the margin underneath the header of the cost management section, aligns text in the center*/
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    /*sets the width and position of the cost management image*/
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    /*sets the font and margins of the footer and aligns the text in the center*/
}

.footer h2 {
    font-size: 20px;
    /*sets the font size of the footer*/
}
